<p id="notice"><%= notice %></p>

<p>
<% if @movie.cover.attached? %>
 <%= image_tag url_for (@movie.cover) %>
 <% end %>
 <p>

<p>
  <strong>Titolo:</strong>
  <%= @movie.titolo %>
</p>

<p>
  <strong>Regista:</strong>
  <%= @movie.regista %>
</p>

<p>
  <strong>Attori:</strong>
  <%= @movie.attori %>
</p>

<p>
  <strong>Genere:</strong>
  <%= @movie.genere %>
</p>

<p>
  <strong>Trama:</strong>
  <%= @movie.trama %>
</p>

<p>
  <strong>Durata:</strong>
  <%= @movie.durata %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
